[
  {
    "name": "cookie_name_1",
    "value": "cookie_value_1",
    "domain": ".midasbuy.com",
    "path": "/",
    "expires": -1,
    "size": 123,
    "httpOnly": true,
    "secure": true,
    "session": false
  },
  {
    "name": "cookie_name_2",
    "value": "cookie_value_2",
    "domain": ".midasbuy.com",
    "path": "/",
    "expires": -1,
    "size": 456,
    "httpOnly": true,
    "secure": true,
    "session": false
  }
] 